:root {
    /* @link https://open-props.style/#colors with some modifications */
    --color-neutral-1: oklch(0.97 0.01 94.93);
    --color-neutral-9: oklch(0.33 0.01 89.82);
    --color-blue-9: oklch(0.48 0.19 269.07);
    --color-blue-12: oklch(0.35 0.13 269.77);

    --color-global-background: var(--color-neutral-1);
    --color-global-text: var(--color-neutral-9);

    --color-link: var(--color-blue-9);
    --color-link-hover: var(--color-blue-12);
    --color-link-focus-highlight: oklch(0.89 0.26 135.61);

    /* @link https://utopia.fyi/type/calculator?c=360,16,1.2,720,18,1.25,2,0,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --size-step-0: clamp(1rem, 0.875rem + 0.5556vw, 1.125rem);
    --size-step-1: clamp(1.2rem, 0.9938rem + 0.9167vw, 1.4063rem);
    --size-step-2: clamp(1.44rem, 1.1222rem + 1.4125vw, 1.7578rem);

    /* @link https://utopia.fyi/space/calculator?c=360,16,1.2,720,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --space-3xs: clamp(0.25rem, 0.1875rem + 0.2778vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4375rem + 0.2778vw, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.625rem + 0.5556vw, 0.875rem);
    --space-s: clamp(1rem, 0.875rem + 0.5556vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.3125rem + 0.8333vw, 1.6875rem);
    --space-l: clamp(2rem, 1.75rem + 1.1111vw, 2.25rem);
    --space-xl: clamp(3rem, 2.625rem + 1.6667vw, 3.375rem);
    --space-2xl: clamp(4rem, 3.5rem + 2.2222vw, 4.5rem);
    --space-3xl: clamp(6rem, 5.25rem + 3.3333vw, 6.75rem);
    --space-3xs-2xs: clamp(0.25rem, -0.0625rem + 1.3889vw, 0.5625rem);
    --space-2xs-xs: clamp(0.5rem, 0.125rem + 1.6667vw, 0.875rem);
    --space-xs-s: clamp(0.75rem, 0.375rem + 1.6667vw, 1.125rem);
    --space-s-m: clamp(1rem, 0.3125rem + 3.0556vw, 1.6875rem);
    --space-m-l: clamp(1.5rem, 0.75rem + 3.3333vw, 2.25rem);
    --space-l-xl: clamp(2rem, 0.625rem + 6.1111vw, 3.375rem);
    --space-xl-2xl: clamp(3rem, 1.5rem + 6.6667vw, 4.5rem);
    --space-2xl-3xl: clamp(4rem, 1.25rem + 12.2222vw, 6.75rem);

    --text-size-base: var(--size-step-0);
    --text-size-heading-1: var(--size-step-2);
    --text-size-heading-2: var(--size-step-1);
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: var(--text-size-base);
    line-height: 1.5;
    background: var(--color-global-background);
    color: var(--color-global-text);
}

body,
h1,
h2,
ul,
p {
    margin: 0;
}

h1,
h2 {
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: var(--text-size-heading-1);
}

h2 {
    font-size: var(--text-size-heading-2);
}

p,
li {
    text-wrap: pretty;
}

a {
    color: var(--color-link);
    font-weight: 700;
    text-underline-position: under;
    text-underline-offset: 0.1em;

    &:hover {
        color: var(--color-link-hover);
        text-decoration-thickness: 3px;
    }

    &:focus-visible {
        color: var(--color-global-text);
        background-color: var(--color-link-focus-highlight);
        box-shadow:
            var(--color-link-focus-highlight) 0 -2px,
            var(--color-global-text) 0 3px;
        outline: transparent solid 3px;
        outline-offset: 0.25lh;
        text-decoration: none;
    }
}

ul[role='list'] {
    list-style: none;
    padding: 0;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.repel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: var(--repel-vertical-alignment, center);
    row-gap: var(--repel-row-gap, var(--gutter, var(--space-s-m)));
    column-gap: var(--repel-column-gap, var(--gutter, var(--space-s-m)));
}

.mt-xs {
    margin-block-start: var(--space-xs);
}

.mt-2xs {
    margin-block-start: var(--space-2xs);
}

.py-xs {
    padding-block: var(--space-xs);
}

.mt-l-xl {
    margin-block-start: var(--space-l-xl);
}
